
body {
 font-family: "メイリオ";
 height: 10000px;
}

header {
  position: fixed;
  /*基準を画面の左上に*/
  top: 0;
  left: 0;
  /*余白が入らないように*/
  margin: 0;
  /*以下装飾*/
  width: 100%;
  background-color: #ffffff;
  height: 75px;
  z-index: 20;
}

.inner {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  height: 75px;
  padding: 15px 0px;
}

.header-img {
  width: 125px;
  height: 44px;
}

.inner p {
  display: inline-block;
  position: relative;
  bottom: -10px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}

.inner-right {
  text-align: center;
}

.header-button {
  height: 45px;
  line-height: 45px;
  background-color: #da6b64;
  color: #ffffff;
  padding: 0px 40px;
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: 2px;
}

.main-key {
  background-image: url("../img/main.jpg");
  margin-top: 75px;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.key-flame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  text-align: center;
}

.key-flame p {
  font-weight: bold;
  letter-spacing: 2px;
}

.key-text-main {
  line-height: 50px;
  font-size: 28px;
  margin: 0;
}

.key-text-sub {
  margin-top: 30px;
  font-size: 20px;
}

.key-img {
  width: 320px;
  height: 110px;
}

.conversion {
  background-color: #ebb94d;
}

.conversion-inner {
  text-align: center;
  padding: 30px 30px;
}

.conversion-text {
  letter-spacing: 2px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}
.conversion-emphasis {
  letter-spacing: 3px;
  color: #c7254E;
  background-color: #f9f2f4;
  display: inline;
  border-radius: 4px;
  font-weight: 600;
  padding: 2px 4px;
}

.conversion-button {
  text-align: center;
}

.conversion-button a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin: 30px 0px;
  padding: 20px 300px;
  border-radius: 50px;
  background-color: #da6b64;
  font-size: 20px;
  letter-spacing: 2px;
}

.conversion-text02 {
  color: #ffffff;
  line-height: 60px;
  font-size: 20px;
  font-weight: 600;
}


.conversion-link {
  text-align: center;
}

.conversion-link li {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin: 5px;
  color: #FFFFFF;
  border-radius: 5px;
}

.conversion-twitter {
  background-color: #1b95e0;
}

.conversion-good {
  background-color: #4267b2;
}

.conversion-share {
  background-color: #4267b2;
}

.conversion-link a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
}

.about {
  background-image: url("../img/about-img.jpg");
  background-size: cover;
  background-position: center;
  height: 580px;
  z-index: 0;
  position: relative;
}

.about-inner {
  text-align: center;
  margin-top: 50px;
}

.about-title {
  font-size: 28px;
  font-weight: bold;
  padding: 20px 20px;
  position: relative;
  max-width: 820px;
  margin: 0 auto;
  letter-spacing: 2px;
}

.about-title::before, .about-title::after {
  content: ' ';
  width: 40px;
  height: 40px;
  position: absolute;
}

.about-title::before {
	border-left: solid 3px #ebb94d;
	border-top: solid 3px #ebb94d;
	top: 0;
	left: 0;
}

.about-title::after {
	border-right: solid 3px #ebb94d;
	border-bottom: solid 3px #ebb94d;
	bottom: 0;
	right: 0;
}

.about-text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 1px;
}

.about-text span {
  font-weight: bold;
  background-color: #ebb94d;
  background: linear-gradient(to bottom, #ffffff 70%, #ebb94d 20%);
}


.about-more {
  background-color: #fef5e0;
  text-align: center;
  padding: 30px;
  margin-top: -30px;
}

.about-info {
  text-align: center;
  position: relative;
  top: -40px;
}

.about-info p {
  text-align: center;
  background-color: #ebb94d;
  color: #FFFFFF;
  margin: 0;
  line-height: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
}

.about-title {
  font-size: 28px;
  font-weight: bold;
  padding: 20px 20px;
  position: relative;
  width: 820px;
  margin: 0 auto;
}

.about-more-text {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}


.about-more-skills {
  max-width: 1170px;
  border: 2px solid #ebb94d;
  border-radius: 2px;
  background-color: #FFFFFF;
  margin: 30px auto;
  text-align: center;
}

.more-skills-text {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.more-skills-inner {
  display: inline-block;
  margin: 10px 10px;
  width: 150px;
  font-size: 12px;
}


.about-second {
  background-image: url("../img/aboutsecond.jpg");
  background-size: cover;
  background-position: center;
}

.about-second-inner {
  padding: 30px 30px;
  text-align: center;
}

.about-second-text {
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 2px;
}

.about-second-textx {
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: -10px;
}

.about-second-textx span {
  color: #ebb94d;

}

.about-second-info {
  max-width: 1170px;
  margin: 0 auto;
}

.about-second-info div {
  width: 30%;
  text-align: center;
  display: inline-block;
  background-color: #FFFFFF;
  margin: 10px 10px;
  padding: 20px 20px;
  border-radius: 5px;
  margin-right: 20px;
}

.second-info-title {
  background-color: #ebb94d;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 600;
}

.second-info-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 3px;
  margin-top: 20px;
}

.aboutthird {
  background-color: #016ea9;
  text-align: center;
  padding: 30px 30px;
}

.aboutthird p {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.aboutthird span {
  color: #ebb94d;
}
